LoggerV5.27k coniguration

File Name Formation
  Include Time *Stamp* = Yes

Data and File Formats
  Sampling Rate, *Ksps* = 16
  Frame duration, *ms* = 2
  Write *stereo* TX or RX+TX1 input = No
  *Delete* temp record after parsing or deletion = Yes

Communication
  *Transport* = USB/FTDI
  *IPAdrPort* = 127.0.0.1:9090
  Virtual Serial *COMPort* = COM25
  Use *FTDI* ports only = Yes
  UART rate, *bps* = 12000000
  *Endian* = Little

Listening
  *Audio* device = 스피커(High Definition Audio 장

Visualization
  Diagram *rate* = 4
  *VAD* or ND = ND
  *Voice* threshold = 0.50
  Paint *noise/voice* = voice
  *FFT_length* for spectrum = 256

Data checking options
  Verify frame *checksum* = yes
  *autoreconnect* after inconsistent frames = 3

Channels selection
  *Lock* selection = no
  *Selected* channels = Raw_TXIN1 None Raw_TXOUT1 None None
